<h2>Tell us about yourself!</h2>
<form method="POST" action="/puppies">
    <label>Name</label>
    <input id="name" name="name" type="text" required="required" />
    <label>Image URL</label>
    <input id="image-url" name="imageURL" type="url" required="required" />
    <label>Image Caption</label>
    <input id="image-caption" name="imageCaption" type="text" />
    <label>Description</label>
    <input id="description" name="description" type="text" required="required" />
    <input class="add" type="submit" value="Add Me!" />
</form>
